/* CONTAINT*/

.app_containt {
    width: 100%;
    height: auto;
}

.app_header_nav {
    position: relative;
}

#app_show_settings i {
    font-size: 2em;
    font-weight: bold;
}

#app_show_settings:hover {
    box-shadow: 0 0 0 white!important;
}

.app_body {
    width: 100%;
    margin: 5px auto;
}

p a {}

.titre_nav_user_name {
    margin: 8px;
    color: #fff!important;
}

.titre_nav_user_name a {
    font-weight: bold;
    color: #fff;
    font-size: 1.2em;
    font-family: Century Gothic, "sans-serif";
}

.titre_nav span {
    margin: 8px;
    font-weight: bold;
    color: #fff;
    font-size: 1.2em;
    font-family: Century Gothic, "sans-serif";
}

.titre_nav a {
    padding: 2px;
    margin: 8px;
    font-weight: bold;
    color: #fff;
    font-size: 1.2em;
    font-family: Century Gothic, "sans-serif";
    text-align: center;
    border-radius: 5px;
    /*background-color: #BA619F;*/
}

.titre_nav a:hover {
    text-decoration: none;
    box-shadow: 2px 2px .3px white;
    list-style: none;
}


/*APP_BODY*/

.app_body {
    text-align: left;
    height: auto;
    padding: 5px;
}

.app_body_home {
    height: auto;
    margin-top: 15px;
}


/*HOME*/


/*APP_BODY_CARD = CV*/

.app_card_p p {
    font-size: .9em;
    margin: 0px;
}

.app_card_p h5 {
    font-size: 15px;
    font-weight: bold;
}

.app_card_a {
    color: #007bff;
}

.app_card_a:hover {
    text-decoration: none!important;
    color: #007bff;
}

/*HOME CARD DELETE*/
.app_cv_delete {
    font-size: 2em;
    position: absolute;
    margin-top: 2%;
    margin-left: 80%;
    z-index: 1;
}

/*BUTTON ADD CV*/
#app_add_cv i {
    color: chartreuse!important;
    font-weight: bold;
    font-size: 2.1em;
}

#app_add_cv a span {
    font-size: 1.2em!important;
    line-height: normal;
    border: 1px solid red;
    padding-bottom: 50px!important;
}

/*FOOTER*/
.app_footer {
    width: 100%;
    height: 75px;
    background: #007bff;
}